<h1> New Recipe </h1>
  
  <p>
    <h2> Recipe </h2>  
  </p>
  <p>
  <label> Recipe Name: </label>
  
  </p>
  <p>
  Prep minutes: 
  
  </p>
  <p>
  Skill Level: 
  
  </p>
  <p>
  <h2> Main Ingredient </h2>
  </p>
  <p>
    name: 
  
    </p>
    <p>
    calories: 
  
    </p>
    <p>
    vegetarian: 
  
    </p>

<br>
<br>
<br>
<h2> Lecture Outline </h2>
<br>
1. Build out the associated models and the tables
<br>
2. Let's ensure the relationships are set up properly, and play with the interface between types of objects
<br>
3. Build the Form
<br>
4. Store the form data in database via activerecord



