<h1> Ingredient New</h1>

<form action='/ingredients' method='POST'> 
  <p> 
    <label> Name </label>
    <input type='text_field' name='ingredient[name]' >
  </p>

  <p>
    <label> Calories </label>
    <input type='text_field' name='ingredient[calories]' >
  </p>

  <p>
    <label> Vegetarian? </label>
    <input type='checkbox' name='ingredient[vegetarian]' >
  </p>
  <input type='submit' value='make my ingredient'>
</form>

